<!-- views/partials/menu.ejs -->
<nav class="pt-4 ps-3">
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <a href="/" class="nav-link text-dark fw-bold">Home</a>
    </li>
    <li class="nav-item mb-2">
      <a href="/articles" class="nav-link text-dark fw-bold">Articles</a>
    </li>
    <li class="nav-item">
      <a href="/newpost" class="nav-link text-success fw-bold">New Post</a>
    </li>
  </ul>
</nav>

